[2016-12-11 14:18] thebeastgamer25 opened #1 "iPad 2,6"
App just freezes, sadly D:

[2016-12-11 14:18] ThatNerdyPikachu commented on #1
(and have no Mac to compile)

[2016-12-11 14:21] ThatNerdyPikachu commented on #1
oh wait, i'm on 935.......

;-;

[2016-12-11 14:21] #1 closed

[2016-12-12 22:38] parrotgeek1 opened #2 "put comments in code as to which parts are OS version/device dependent"

[2016-12-13 00:37] thebeastgamer25 opened #3 "Any way this could be updated for 935?"
^

bump

[2016-12-13 00:50] tolikes commented on #3
you in ios 9.3.5? sorry you never jailbreak you idevice

[2016-12-13 01:28] sferrini commented on #2
@parrotgeek1 you could use https://github.com/benjamin-42/Trident/pull/4 as a "guide" to port your offsets

[2016-12-13 01:30] sferrini commented on #3
@thebeastgamer25 nope, this is <= 9.3.4 specific.

[2016-12-13 19:11] #3 closed

[2016-12-13 20:02] benjamin-42 commented on #2
@parrotgeek1 I won't add comments for that, look for offsets added to the kernel_base variable

[2016-12-13 20:02] #2 closed

[2016-12-16 10:48] nanidayo opened #8 "patch_task_for_pid instruction patch offset issue"
The offsets for the instructions that need to be patched should also be abstracted. For example; the iPhone 5,2 9.3.1 is at an offset of 0x16, whereas the iPad 3,1 9.3.4 is at 0x14. This may also be present in other devices / firmware.

![](http://puu.sh/sRojN/7d070dab03.png)

Perhaps implement a find_patch_task_for_pid_offsets(unsigned patch_number); function?

Example:
[code]

Also, the only rea

[2016-12-16 13:35] akemin-dayo commented on #8
This feature already exists: https://github.com/benjamin-42/Trident/blob/master/Trident/offsetfinder.c#L305

See `uint32_t find_pid_check(void)` `uint32_t find_posix_check(void)` and `uint32_t find_mac_proc_check(void)`.

[2016-12-16 13:54] nanidayo commented on #8
@angelXwind That wasn't committed when I posted this :s

[2016-12-17 02:10] #8 closed

[2016-12-17 11:54] nanidayo opened #10 "find_vm_kernel_addrperm offset issue"
`iPhone41_iOS932: return 0x455848;` should actually be returning `0x455844`.

I think it might affect some of the other offsets too? Tested on my iPhone 4S running iOS 9.3.2.

![](http://puu.sh/sSsh5/54609c5f85.png)

[2016-12-17 12:32] akemin-dayo commented on #10
See pull request #9.

[2016-12-17 12:52] #10 closed

[2016-12-18 09:52] EGYbkgo9449 opened #11 "Trident app fails !!!"
Hey, I've tried it with iPhone 5,3 9.3.2 but it just reboots and nothing happens, tried to change the offsets cuz I think some of them were wrong but it did the same thing !!!

[2016-12-18 10:43] dawnworld opened #12 "about how to install openssh after run this app"
I compiled and run it in my iphone4s (ios 9.3.2), it displayed that "w00t root". now I want to install `openssh` or `cydia`, who can help me?

[2016-12-19 16:25] akemin-dayo commented on #11
If it is crashing [here](https://github.com/benjamin-42/Trident/blob/325a0caf893b92e02a0df62f2706f5eae737104a/Trident/exploit.c#L348) in `exploit.c`, then this appears to be part of an ongoing problem I'm investigating where Trident appears to have issues with some A6 SoC devices (like the `iPhone5,3`).

The addresses ("offsets") are correct (note that sometimes, there can be multiple correct poss

[2016-12-19 18:20] EGYbkgo9449 commented on #11
@angelXwind I think it fails in the read_pirmitive assertion

[2016-12-19 18:22] EGYbkgo9449 commented on #12
that's what I'm going to work on after the JB succeed for my iPhone

DM (or Tweet me if u can't) me on Twitter "Twitter.com/SpRay_BestTube" if u want to help ;)

[2016-12-19 18:56] aleondopeso commented on #11
my iPhone 5,2 9.3.1 reboots when i use trident and fail. Do you know why? @angelXwind i think that you can fix it!

[2016-12-19 18:59] EGYbkgo9449 commented on #11
@aleondopeso I think it's the same reason since the iPhone 5,2 & 5,3 share almost the same kernel

[2016-12-22 01:39] VeryKnave opened #13 "The project is not working in Xcode 7"
I tried like 3 days in a row to set-up a VM on Mac OS X Yosemite but the latest version of Xcode is not supported.
A iPA file would be awesome so I could use it with Cydia Impactor.

[2016-12-22 12:18] EGYbkgo9449 commented on #13
It doesn't work with the iPhone 5,2 & 5,3 yet 😔

[2016-12-22 15:12] rjrockzz opened #14 "Can u prepare the app and send me"
Sir,I'm a beginner, and have an iPad 3 running iOS 9.3.4, can u please guide me, thanks in advance

[2016-12-22 19:29] benjamin-42 commented on #14
If you want to try the project, use macOS, install Xcode, open the project, connect your device and click on Run. I won't distribute a binary for current project state.

[2016-12-22 19:29] #14 closed

[2016-12-22 19:30] benjamin-42 commented on #13
@VeryKnave Install El Capitan/Sierra to use the latest version of Xcode - I won't distribute an IPA with current project state.

[2016-12-22 19:30] #13 closed

[2016-12-22 19:33] benjamin-42 commented on #12
@dawnworld If you want to run those binaries you need to patch more kernel code, for sandbox and code signing enforcement. This is not included in the project for now, please look at README file.

[2016-12-22 19:33] #12 closed

[2016-12-22 19:34] rjrockzz commented on #14
:)
Thnx
On Dec 23, 2016 12:59 AM, "Benjamin Randazzo" <notifications@github.com>
wrote:

[2016-12-24 12:41] EGYbkgo9449 commented on #11
@angelXwind
Here is my crash log (kernel panic):
http://pastebin.com/iaCZTc8e

[2016-12-30 08:12] dogoftutu opened #20 "iphone 5 .4 need your help"
![192392914548155569](https://cloud.githubusercontent.com/assets/24838810/21561645/4d1d3ce8-ceaa-11e6-8b30-b58cdc2b0eeb.jpg)
this is a Sad story
I'd like to test out for you.
   please

[2016-12-30 15:13] EGYbkgo9449 commented on #20
Tweet me on Twitter.com/SpRay_BestTube and I'll DM u to add the device, don't worry it's very easy :)

Once it works I'll push the updated files here ;)

[2016-12-30 15:43] coderjeff opened #22 "When to support the iphone5,3 ios 9.3"
I like this tools
When to support the iphone5,3 ios 9.3

[2016-12-30 19:02] benjamin-42 commented on #22
No specific date/plan for this

[2016-12-30 19:02] #22 closed

[2016-12-30 19:05] benjamin-42 commented on #20
No specific date/plan for other devices support, might be supported in the future but I can't guarantee

[2016-12-30 19:05] #20 closed

[2016-12-31 03:01] BrandonMStudios commented on #11
@angelXwind @EGYbkgo9449 I can confirm that this issue also occurs with the iPhone5,1 on iOS 9.3.3. I added my own offsets and I get a kernel panic as well.

[2016-12-31 06:25] EGYbkgo9449 commented on #11
@BrandonMStudios
Then I think it happens to the iPhone 5,1 -----> 5,4 (iPhone 5 & 5C)

[2016-12-31 21:52] singhstar123 opened #23 "Support for IPhone 4s IOS 9.2.1"
So I installed Trident on my device it says that it is not supported. I have a iphone 4s 9.2.1 (13D15), Is there any way to allow it to be supported on my device? Thank you, I am not much experienced within this field but do have enough knowledge to get the job done.

[2017-01-01 02:43] ttman1 opened #24 "iPad 3,3 9.3.2 Support"
So iPad 3,2, iOS 9.3.2 is supported but i need 3,3 9.3.2 support.
Any chance you could add that?

[2017-01-02 13:21] benjamin-42 commented on #24
No specific date/plan for this, maybe someone will add support later

[2017-01-02 13:21] #24 closed

[2017-01-02 13:23] benjamin-42 commented on #23
No specific date/plan for this, maybe someone will add support for it by patching offsets. There is a guide written by @angelXwind, look at README file.

[2017-01-02 13:23] #23 closed

[2017-01-02 22:56] joshuawins99 opened #25 "iPad3,1 iOS 9.3.3 Support"
Can you add support for the Wifi only iPad 3rd Gen on iOS 9.3.3.

[2017-01-03 13:04] pozzdonnz79 commented on #25
Noooo that not fair bro it should release all version support together no matter what happen let it happen I can wait just make the best why ask just release WiFi ?,what about CDMA and Gsm ?,no no that not nice if it fuckup we fucked together

[2017-01-04 18:38] pozzdonnz79 commented on #25
Did you see list they has release for ipad3 WiFi only not support Gsm CDMA you can root then install open ssh for downgrade or install cydia and install dual boot for switch 8.x-9.x

[2017-01-04 20:27] benjamin-42 commented on #25
No specific date/plan for this, maybe someone will add support later

[2017-01-04 20:27] #25 closed

[2017-01-04 20:59] BiteTheApple opened #26 "Offsets iPhone 4,1 iOS 9.2.1"
I've tried to insert the iOS 9.2.1 offsets for iPhone 4S into the project. The app installs, but once pressing YOLO the display shows strange colors (see the attached picture) and the device reboots.
The offsets I've inserted are these:

**find_OSSSerializer_serialize():** 0x3107fc
**find_OSSymbol_getMetaClass():** 0x312f18
**find_calend_gettime():** 0x1de60
**find_bufattr_cpx():** 0xd8750
**find_

[2017-01-05 04:39] rxbit commented on #26
Same problem, the addresses are correct.

[2017-01-05 15:57] ganoninc commented on #26
I'm trying to find the offsets too for this iPhone on iOS 9.2.1

I have created a branch for that but I'm missing the last one (find_setreuid) so maybe it's the wrong one in your list

https://github.com/ganoninc/Trident/blob/ganoninc-iPhone41_iOS921/Trident/offsetfinder.c

I have used Hopper and it can't find the string "f0b503af2de9000d87b0044602910394d1f800b04d68dff7", even shortened. How did y

[2017-01-05 16:58] BiteTheApple commented on #26
I found a tweet of angelXwind which said to try with this string -> f0b503af2de9000d85b004460d4601

[2017-01-05 17:40] Napsters commented on #26
Found all offset using Hopper for iPhone 4s iOS 9.2.1. iPhone4,1_9.2.1_13D15_Restore.ipsw from ipsw.me. Please test.

**find_OSSSerializer_serialize():** 0x3107fc  {803117fc}
**find_OSSymbol_getMetaClass():** 0x312f18  {80313f18}
**find_calend_gettime():** 0x1de60  {8001ee60}
**find_bufattr_cpx():** 0xd8750 {800d9750}
**find_clock_ops():** 0x3fc3dc  {0x803fd3d8 + 4 = 803fd3dc}
**find_copyin():** 0

[2017-01-05 19:28] ganoninc commented on #26
It looks like you've forgotten to subtract 0x80001000 so we should try this:

find_OSSSerializer_serialize(): 0x3107fc
find_OSSymbol_getMetaClass(): 0x312f18
find_calend_gettime(): 0x1de60
find_bufattr_cpx(): 0xd8750
find_clock_ops(): 0x3fc3dc
find_copyin(): 0xc6754
find_bx_lr(): 0xd8752
find_write_gadget(): 0xc6488
find_vm_kernel_addrperm(): 0x44e840
find_kernel_pmap(): 0x3ef444
find_flush_dcache

[2017-01-05 19:35] BiteTheApple commented on #26
Just tried, still reboot. :(
**My fork is here: https://github.com/BiteTheApple/trident921**

[2017-01-05 19:55] 270899colin opened #27 "iPad2,1 iOS9.2 crashes and reboots"
Hey everyone,

I tried adding support for my old iPad at 9.2 today but when I press yolo the device just panics and reboots.

These are my offsets:

find_OSSerializer_serialize(): 0x3106fc
find_OSSymbol_getMetaClass(): 0x312e18
find_calend_gettime(): 0x1de84
find_bufattr_cpx(): 0xd8750
find_clock_ops(): 0x3fc3dc
find_copyin(): 0xc6754
find_bx_lr(); 0xd8752
find_write_gadget(): 0xc6488
find_vm_kern

[2017-01-05 20:05] BiteTheApple commented on #27
Same thing on the iPhone 4S with iOS 9.2.1, it should be something related to these two versions

[2017-01-05 20:06] ganoninc commented on #27
I wonder why it works with iPhone5,2 (N42AP), iOS 9.2.1 (Dillon 13D15), was that 9.2.1 device really tested?

[2017-01-06 02:20] rxbit commented on #26
The kernel crash at io_service_get_matching_services_bin,  probably the UAF failed.

[2017-01-06 07:45] benjamin-42 commented on #27
If it's failing at UAF exploit take a look at Lookout paper about Pegasus exploits, page 29 they show a different payload for iOS 9.0 through 9.3.1.

[2017-01-06 07:45] benjamin-42 commented on #26
If it's failing at UAF exploit take a look at Lookout paper about Pegasus exploits, page 29 they show a different payload for iOS 9.0 through 9.3.1.

[2017-01-06 08:23] hazytint commented on #26
Thanks, io_service_get_matching_services_bin can return now, but stop at assert(read_primitive(kernel_base)) (return 0x12).

[2017-01-06 14:18] rxbit commented on #26
Thanks, I tried another payload, but not work, still reboot. It seems that both payloads can fill the object vtable, but the data is wrong.

[2017-01-07 08:01] 1Conan commented on #11
#32 Works for me though. No panic. 'w00t root' message.

[2017-01-07 09:37] Napsters commented on #26
After using 32Stage2 payload which is exist in iOS versions from 9.0 to 9.3, there is problem with assert(read_primitive(kernel_base) == 0xfeedface);

The app not crash but it is stuck at Xcode debugging shows is Assertion failed: (read_primitive(kernel_base) == 0xfeedface). It seems kernel base is not == magic value!

![screen shot 2017-01-07 at 5 35 57 pm](https://cloud.githubusercontent.com/ass

[2017-01-07 10:50] rxbit commented on #26
The payload failed. Attention that the payload buffer size is 0x1c, not
0x10.
2017年1月7日(土) 17:37 Napsters <notifications@github.com>:

[2017-01-07 10:52] benjamin-42 commented on #11
Great, thank you @1Conan

[2017-01-07 10:52] #11 closed

[2017-01-07 14:45] Napsters commented on #26
Confirmed, rebooting and kernel panic using another payload stage2. Same as previous payload result.

[2017-01-07 15:06] EGYbkgo9449 commented on #11
But it doesn't work for the 5,3 !!!

[2017-01-07 19:49] NoelTautges commented on #27
I'm finding the same issue on iPhone5,3 on iOS 9.2.1.

Here's the relevant section of the kernel panic:

[code]

[2017-01-07 19:50] NoelTautges commented on #27
I'm finding the same issue on iPhone5,3 with iOS 9.2.1.

The relevant part of the kernel panic is pasted below.

[code]

[2017-01-07 22:39] ro4fever commented on #26
For me there is no doubt that the offsets (even for setreuid), presented by BiteTheApple, are correct. I am not a programmer or developer and I am interested in downgrading my iPhone 4S, iOS 9.2.1.
A guy from Chinese forum (http://bbs.feng.com/read-htm-tid-10984095-page-72.html) wrote about ios 9.1 trident support. He posted some lines from exploit.c file:

void patch_setreuid(uint32_t kernel_base

[2017-01-07 23:36] f0xyru opened #33 "Offsets iPad 3,3 iOS 9.3.2"
Please, test it. On my iPad 3.3 with 9.3.2 - it's work fine.

<img src="http://f0xy.ru/IMG_0695.JPG" style="max-width:30%;">

find_OSSSerializer_serialize(): 0x318264
find_OSSymbol_getMetaClass(): 0x31aa6c
find_calend_gettime(): 0x1e170
find_bufattr_cpx(): 0xd9848
find_clock_ops(): 0x403428
find_copyin(): 0xc76b4
find_bx_lr(): 0xd984a
find_write_gadget(): 0xc73e8
find_vm_kernel_addrperm(): 0x45584

[2017-01-08 00:20] sumories commented on #26
Hello,everyone.The guy who creat Trident-Kloader.ipa post something on his weibo,maybe helpful.
http://weibo.com/u/5363037484

1.iOS 9.2.X的利用方式有些不一样，所以用一样的东西会出现问题
2.9.2.X的问题和A6处理器设备的问题不是同一个

I try to translate it:
1. The way that use (exploit) iOS 9.2.X has a littel different (with 9.1&9.3.X),so there will be some mistake if you use the same way (or something else).
And,he said this is why torachi

[2017-01-08 06:44] ganoninc commented on #33
Good work.

[2017-01-08 16:44] benjamin-42 commented on #33
@f0xyru good job, can you please open a PR with your offsets? :)

[2017-01-08 19:01] NoelTautges commented on #26
@ro4fever I believe 0xE040 is the hex representation of the branch instruction that replaces another one in the setreuid function.

It skips the check for privilege escalation, as the Lookout report stated.

The last two digits are an offset to the instruction to which the processor is to branch.  Perhaps the section of instructions past the check for privilege escalation is a different offset fro

[2017-01-08 23:39] 1Conan commented on #11
@benjamin-42 Just got this today, it crashes at times. But most of the time it works.

[2017-01-08 23:54] EGYbkgo9449 commented on #11
But it "always" happens to the iPhone 5,3 9.3.2 😔

[2017-01-09 03:43] rxbit commented on #26
It works now, see hazytint/Trident@664d1b7c3606363ecd3cb512e1766d77a317221b.
![image](https://cloud.githubusercontent.com/assets/1555218/21756777/ac140ea8-d660-11e6-9d8f-c8819b5ced33.png)

[2017-01-09 04:21] Napsters commented on #26
So 4s panic because of memory kernel leak at *return no bracket open and close ( )! Good JOB! @hazytint

![img_2017-01-09 12 20 19](https://cloud.githubusercontent.com/assets/16322897/21757201/0a23e78e-d666-11e6-97a6-63d5b25acb4b.jpg)

[2017-01-09 08:21] MuMuTian commented on #33
为什么，我一点YOLO就黑屏重启，我是5c的手机？？？？？

[2017-01-09 11:26] batareya16 commented on #26
Can you send ipa file with 4s 9.2.1 support please?:)

[2017-01-09 11:27] BiteTheApple commented on #26
@hazytint great job! I can't thank you enough :D

[2017-01-09 11:28] sumories commented on #26
9.2.1 ipa file.
http://pan.baidu.com/s/1mhAJ6VQ

Source code.Run it with XCODE.
http://pan.baidu.com/s/1gfHV9jt

[2017-01-09 11:32] TheLukeGuy opened #35 "iPod5,1 iOS 9.3.3"
An iPod touch 5th generation running iOS 9.3.3 would work, could you stop the device/version detector from disallowing me from jailbreaking on that version?

[2017-01-09 11:33] sumories commented on #26
Anyone can fix 9.2 offset please!

[2017-01-09 11:36] pbijilu commented on #26
@sumories no ipa, source code only

[2017-01-09 11:38] sumories commented on #26
@pbijilu sorry ,I update it.

[2017-01-09 11:39] pbijilu commented on #26
@sumories thank you

[2017-01-09 11:55] 270899colin commented on #35
The device is vulnerable to the exploit but someone needs to add the offsets for that specific device and version in order to make it work.

[2017-01-09 11:55] crysis99 commented on #26
@sumories Have you tested the ipa yourself? It seems to get stuck and can't seem to get "w00t root" using this.

[2017-01-09 11:57] sumories commented on #26
@crysis99 No,my 4s is 9.2,but someone has success on his 9.2.1 device.

[2017-01-09 12:09] Napsters commented on #26
Success downgrade, nothing is impossible...add kloader into latest trident exploit xcode fix by @hazytint for iphone 4s iOS 9.2.1, install some brew, add idevicediagnostics into usr/local/bin. Cd into latest OdysseusOTA, add firmware.ipsw -bbupdate. Install trident into devices. Run trident kloader exploit, wait until Wait Exec Sleep Mode. Run idevicediagnostics sleep, push home button several tim

[2017-01-09 12:11] pbijilu commented on #26
@sumories @crysis99 can't get w00t root on this ipa either, seems like the app is stuck

[2017-01-09 12:19] sumories commented on #26
WE DID IT!9.2&9.2.1 ALL SUCCESS!

[2017-01-09 12:55] pbijilu commented on #26
@sumories used you ipa from this link http://pan.baidu.com/s/1gfysN0B, it worked, ty

[2017-01-09 12:56] paul2048 commented on #26
Good work! Now the problem with A6 processors should be fixed :)

[2017-01-09 13:43] f0xyru commented on #35
Okay, maybe I add offsets for you but need test

[2017-01-09 13:45] f0xyru commented on #33
@benjamin-42 okay, later :)

[2017-01-09 13:47] 270899colin commented on #27
#26
Replaced return *(uint32_t *)(data+36) & 0xFFF00000 + 0x1000;
with
return (*(uint32_t *)(data+36) & 0xFFF00000) + 0x1000;
in exploit.c and everything is working fine :)

[2017-01-09 13:47] #27 closed

[2017-01-09 15:07] ro4fever commented on #26
Worked on iOS 9.2.1 iPhone 4S for downgrading to iOS 6.1.3. Thanks to all who worked on this. Thank you sumories for ipa file http://pan.baidu.com/s/1mhAJ6VQ!

[2017-01-09 17:49] batareya16 commented on #26
Stuck on "Waiti Exec Sleep Mode". What to do next? OdysseusOTA?

[2017-01-09 18:38] benjamin-42 commented on #35
No specific date/plan for this, maybe someone will add support later — will close this issue for now

[2017-01-09 18:38] #35 closed

[2017-01-09 18:39] #33 closed

[2017-01-09 18:39] #26 closed

[2017-01-09 19:56] ghost commented on #35
Okay, so I am trying to add support, but now how do I find the correct string for the find_OSSerializer_serialize and such?

[2017-01-09 22:55] TheLukeGuy opened #39 "How to find offsets?"
Not all that sure how to find the device offsets, anyone know?

[2017-01-09 23:12] ghost commented on #39
Never mind I got it.

[2017-01-09 23:22] ghost commented on #39
Nevermind again I don't got it... :P

[2017-01-09 23:26] leoyangtaiwan opened #40 "Support for IPad2 IOS 9.2.1"
Could help to add Support for IPad2 IOS 9.2.1 ?

[2017-01-10 06:34] SecurePanda commented on #39
Could you be a bit more specific? There's a pretty good write-up on how to find the offsets, and it provides a helpful link to the kcache tool (whose readme provides an example of how to use it.)

[2017-01-10 10:56] ghost commented on #39
So, I'm trying to find the offsets for a few devices that currently aren't supported in the Trident jailbreak. I have looked at AngelXwind's tutorial, though it was not very clear to me. Is the _write-up_ you're talking about different from the one on AngelXwind's website?

[2017-01-10 15:43] SecurePanda commented on #39
It's the same. Are you using IDA, Hopper, or something else to search the decrypted kernelcache?

[2017-01-10 20:01] benjamin-42 commented on #40
No specific date/plan for this, maybe someone will add support later — will close this issue for now

[2017-01-10 20:01] #40 closed

[2017-01-10 20:03] benjamin-42 commented on #39
You can compare offsets from supported firmware to help you, you have to find equivalent code/data. There are enough resources available, will close this issue.

[2017-01-10 20:03] #39 closed

[2017-01-12 06:49] pozzdonnz79 commented on #25
Thanks ben

[2017-01-12 14:53] 010X opened #44 "A6 devices issues"
Tested on iPhone 5,2. iOS 9.3.X failed, but iOS 9.2.X works well.

[2017-01-13 01:29] D3C0D3R5 opened #45 "HALP! iOS 9.3.1 iPod 5,1"
Yo, can anyone confirm that this will soon be out? And in .ipa form? Because i dont have a mac and i cant use xcode to install it. My device is a iPod 5,1 (5th genegration) and i am running iOS 9.3.1 btw pls and thx! :)

[2017-01-13 14:42] TheMorc opened #46 "iPad 3,3 9.3.2??"
i want to include 9.3.2 for iPad 3,3 in Xcode to trident that was in closed issues but i don't know how to add it.

[2017-01-13 18:49] TheMorc commented on #46
or, i added it somehow it did show YOLO  and iPad3,3 - iOS 9.3.2 but it should restart after? because it restarted and booted back but again YOLO and iPad not w00t root like on picture.

[2017-01-13 18:59] paul2048 commented on #46
It should display 'w00t root', so it didn't worked

[2017-01-13 21:07] P0SlX commented on #45
I've an iPod Touch 5 too but on 9.3.3 and no update since 9.3.2. Is it possible to compile it in .ipa file for Windows user ? Because I don't have a Mac

[2017-01-13 21:44] D3C0D3R5 commented on #45
My question as well, i dont have a mac and so i need it in ipa form aswell, except my ipod 5 is on ios 9.3.1

[2017-01-14 09:22] TheMorc commented on #46
update: so i checked code and i found that i forgot to change MetaClass, after compiling and installing to iPad by clicking YOLO it showed w00t root.

[2017-01-14 10:15] #46 closed

[2017-01-14 10:16] benjamin-42 commented on #45
No specific date/plan for this, you can still install a virtual machine with macOS

[2017-01-14 10:16] #45 closed

[2017-01-14 19:39] NoelTautges opened #47 "Missing offsets for iPhone5,1 on iOS 9.3.2"
offsetfinder.c is missing the offsets for the following device combination for vm_kernel_addrperm, setreuid, pid_check, posix_check, and mac_proc_check.

[2017-01-14 21:06] benjamin-42 commented on #47
Removed this device and iOS version combination for now, thanks for reporting!

[2017-01-14 21:06] #47 closed

[2017-01-15 17:32] testsuen commented on #44
Can you compile IPA?

[2017-01-15 23:21] leoyangtaiwan opened #56 "Help compile IPA for IPad2,2 ios9.2.1"
Could you Help to compile IPA for IPad2,2 ios9.2.1?
Thanks a lot

[2017-01-16 00:54] UnnamedCode commented on #26
Trident worked on ios 9.2.1 it went through the apple logo phase and now whenever I open it , its says start i press it and it crashes does that im rooted

[2017-01-16 01:07] UnnamedCode commented on #26
Everytime I click start it crashes ive already went through the apple logo phase am I jailbroken? comments plz and thank you

[2017-01-16 01:31] paul2048 commented on #26
@UnnamedCode This is not a jailbreak tool, it's for root access only. If the device rebooted, that means it failed. What device and what iOS version do you have?

[2017-01-16 01:32] UnnamedCode commented on #26
iOS 9.2.1 the IPA in which it said it would work for
On Sun, Jan 15, 2017 at 8:31 PM VeryKnave <notifications@github.com> wrote:

[2017-01-16 01:33] UnnamedCode commented on #26
I've been trying for 6 months to downgrade this iPhone to iOS 6 and I have
no mac
On Sun, Jan 15, 2017 at 8:32 PM The cRacker <thecodeingman@gmail.com> wrote:

[2017-01-16 01:44] UnnamedCode commented on #26
Link to IPA http://pan.baidu.com/s/1gfysNOB

On Sun, Jan 15, 2017 at 8:33 PM The cRacker <thecodeingman@gmail.com> wrote:

I've been trying for 6 months to downgrade this iPhone to iOS 6 and I have
no mac
On Sun, Jan 15, 2017 at 8:32 PM The cRacker <thecodeingman@gmail.com> wrote:

iOS 9.2.1 the IPA in which it said it would work for
On Sun, Jan 15, 2017 at 8:31 PM VeryKnave <notifications@github.

[2017-01-16 01:46] UnnamedCode commented on #26
Link to IPA http://pan.baidu.com/s/1gfysN0B

[2017-01-16 12:51] ganoninc opened #58 "Need tester for iPhone41_IOS920"
Hello,

Is there someone with an iPhone 4S on iOS 9.2 who could check if my offsets are right?

https://github.com/ganoninc/Trident/tree/ganoninc-iPhone41_IOS920

Thanks

[2017-01-16 19:54] benjamin-42 commented on #56
No specific plan on this, if you want to try the project, install a macOS (can be a virtual machine), install Xcode, open the project, connect your device and click on Run.

[2017-01-16 19:54] #56 closed

[2017-01-17 03:45] K0smas opened #60 "Add Support for iPhone5,1 (N42AP), iOS 9.2.1 (Dillon 13D15)"
Is there any difference between iPhone5,1(GSM) and iPhone 5,2(GLOBAL) with respect to finding the correct offsets? or is it a easier fix, possibly just editing the project source to add the 5,1 identifier so the app will pick it up and execute?

[2017-01-17 14:04] pwn841 opened #61 "8.4.1 support"
I can see that support for downgrading iOS 9.1-9.3.4 is becoming available to an increasing number of devices, which is great for 32 bit users.
Being on 9.2.1 on my 4S, I would downgrade to 8.4.1 because iOS 9 is just slow on the 4S without bringing much, I've been sorry for a year to have upgraded. But for starters I wouldn't want to be stuck on 8.4.1 and only be able to upgrade to the unjailbrok

[2017-01-18 18:54] iTommy258 opened #62 "iPhone5,2 iOS 9.3.2 Kernel Panic"
I wrote a Similar issue to the developers of Trident-kloader. I maybe think that you are able to fix the issue with Trident that the other Developers can include their kloader and i can get my 5 back to iOS 8.4.1 and make it kinda faster. Anyways, i include my Kernel Panic under that link: http://pastebin.com/jpYFBZbT . If you need some more informations, simply just ask.

[2017-01-18 19:55] benjamin-42 commented on #44
@010X would be great if you could debug and find more information, will close for now as it requires more info

@testsuen no specific plan/date for a compiled IPA, you can install macOS (in a virtual machine if needed) and compile an IPA with Xcode

[2017-01-18 19:55] #44 closed

[2017-01-18 19:57] benjamin-42 commented on #60
No idea, download both firmwares and try to see if there is any differences — yes you can try to edit the project to add iPhone5,1 and see if it works

[2017-01-18 19:57] #60 closed

[2017-01-18 19:59] benjamin-42 commented on #61
I'm not sure Trident will work on iOS 7, it will require to look for the vulnerabilities inside an iOS 7 firmware. Anyway there is no specific plan for this.

[2017-01-18 19:59] #61 closed

[2017-01-18 20:02] benjamin-42 commented on #62
Apparently iPhone5,2 with iOS 9.3.2 is in the list of supported devices... did you try with latest changes on the repository? and did you try more than once?

[2017-01-18 20:03] benjamin-42 commented on #58
@ganoninc will close the issue for now, if someone reports issue for this I will notify you

[2017-01-18 20:03] #58 closed

[2017-01-18 20:04] iTommy258 commented on #62
Yea I tried it three times. I used the Xcode project.

[2017-01-18 21:24] ihad91 commented on #26
i want to downgrade my iphone 4s on ios 9.2 to ios 6.1.3 pleas help me and send me trident.ipa for iphone 4.1 ios 9.2

[2017-01-19 06:15] hexcelsior opened #63 "Working Offsets for iPod 5,1 at iOS 9.1"
Hi Benjamin,

Great work on the Trident implementation 👍

I'd though I'd post these here instead of a pull request, as adding them to offsetfinder.c doesn't work OTB.

find_OSSerializer_serialize: 0x319450
find_OSSymbol_getMetaClass: 0x31bc3c
find_calend_gettime: 0x1db34
find_bufattr_cpx: 0xd97d0
find_clock_ops: 0x4053cc
find_copyin: 0xc7754
find_bx_lr: 0xd97d2
find_write_gadget: 0xc7488
find_vm_k

[2017-01-19 14:53] ganoninc commented on #58
So I should open a pull request with my offsets?

[2017-01-19 17:32] ihad91 commented on #26
C:\Users\Hadii\Desktop\downgrade\libimobiledevice>idevicerestore.exe -e custom.i
psw
NOTE: using cached version data
Found device in DFU mode
Identified device as n94ap, iPhone4,1
Extracting BuildManifest from IPSW
Product Version: 6.1.3
Product Build: 10B329 Major: 10
Device supports Image4: false
Variant: Customer Erase Install (IPSW)
This restore will erase your device data.
Found ECID 43414078

[2017-01-19 17:51] D3C0D3R5 opened #64 "iPod 5,1 9.3.1 Implementation?"
Any release dates for iPod 5,1 on iOS 9.3.1? I really need jailbreak because my phone is running very slow, and its boring because i dont apps like "Barrel" and "iFile" and i wanna install jailbreak apps :( , i mainly got the iPod because i thought jailbreak was already released for it... then i found out that jailbreak was only available for 64bit iOS devices :'(

[2017-01-19 19:37] UnnamedCode commented on #26
Rename downgrade.ipsw to downgrade and then type in downgrade.ipsw in the
command line also use behind downgrade to create your ipsw
On Thu, Jan 19, 2017 at 12:32 PM ihad91 <notifications@github.com> wrote:

[2017-01-19 19:40] UnnamedCode commented on #26
https://www.youtube.com/watch?v=ibK8P3welVY
On Thu, Jan 19, 2017 at 2:37 PM The cRacker <thecodeingman@gmail.com> wrote:

[2017-01-19 20:57] NoelTautges commented on #63
Correct me if I'm wrong, but I think 0xe031 is the patched set of instructions, not the offset from setreuid.

Nice work on dumping the kernel, though!

[2017-01-19 21:23] hexcelsior commented on #63
Ooops! Totally Right!
Anyway, it's as simple as changing new_branch to 0xe03e!

(I've been thinking too much about offsets lately, I've had to do lots of calculations!)

[2017-01-19 21:29] benjamin-42 commented on #58
Yes sure, you found offsets for other devices that are correct so go ahead :)

[2017-01-19 21:31] benjamin-42 commented on #63
@hexcelsior you can create a new function in offsetfinder to take this into account, please feel free to open a PR, especially if you managed to get it working :)

[2017-01-19 21:31] #63 closed

[2017-01-19 21:32] benjamin-42 commented on #64
No specific plan/release date for this — moreover this isn't a jailbreak in its current state, please take a look at README file

[2017-01-19 21:32] #64 closed

[2017-01-20 09:33] ganoninc commented on #58
Yes but I couldn't find "find_setreuid" so I observed that between iPhone52_iOS920 and iPhone52_iOS921 there is a difference of 0x110

case iPhone52_iOS920: return 0x2a9e24;
case iPhone52_iOS921: return 0x2a9f34;

So based on "case iPhone41_iOS921: return 0x2a3bc4;" I computed that iPhone41_iOS920 should have 0x2a3ab4.

That's why here: https://github.com/ganoninc/Trident/blob/ganoninc-iPhone41_IO

[2017-01-20 10:09] ganoninc commented on #63
I've sent a pull request with the requested changes :)

https://github.com/benjamin-42/Trident/pull/66

[2017-01-20 18:30] EGYbkgo9449 commented on #62
@benjamin-42
It has the same issue as the iPhone 5,3

[2017-01-20 18:31] iTommy258 commented on #62
Yea. Any progress?

[2017-01-20 19:03] EGYbkgo9449 commented on #62
Nope not yet 😔

[2017-01-21 03:08] EGYbkgo9449 commented on #62
UPDATE:
Solved that issue.... But got a new kernel panic in a further step (It was just about to end then the panic happened #lol) XD

[2017-01-21 03:10] EGYbkgo9449 commented on #62
Here is the new panic:
http://pastebin.com/MWXMVFT7

It fails at this line of the kernel (in 5,3 9.3.2):
cmp        r6, #0x0

[2017-01-21 03:54] EGYbkgo9449 commented on #62
The "pc" is the "write_gadget"

[2017-01-21 16:53] benjamin-42 commented on #62
@EGYbkgo9449 bad memory access while doing`str r1, [r0, #0xc] ; bx lr`, so the location pointer by r0 + 0xc is bad — it seems that it can't write there, but the test of the pmap patch succeeded, no?

[2017-01-21 17:34] EGYbkgo9449 commented on #62
@benjamin-42
I think so, cuz it runs normally till it get to that point and the panic happens

[2017-01-21 18:03] EGYbkgo9449 commented on #62
@benjamin-42
It fails at this line of testing the pmap:

patch_task_for_pid(kernel_base);

[2017-01-21 18:11] EGYbkgo9449 commented on #62
And at this line of the patch_task_for_pid():

write_primitive(pid_check_addr, read_primitive(pid_check_addr) + 0xff); // cmp r6, #ff

[2017-01-21 22:31] EGYbkgo9449 commented on #62
The cmp r6, #0x0 line is different in the iPhone 5,3 9.3.2 kernel, it may be the problem.

Here is it in the iPhone 5,3 kernel:
00302e02         str        r1, [sp, #0x28 + var_1C]
00302e04         str        r1, [sp, #0x28 + var_20]
00302e06         cmp        r6, #0x0

-------------------------------------------------------------

And on the iPad 3,1 it's like this:
002fced2         str        r

[2017-01-21 22:33] iTommy258 commented on #62
Awesome! Sounds like a fix, am i right?

[2017-01-22 01:55] EGYbkgo9449 commented on #62
It's a fix, but another issue has appeared as I mentioned above #lol

[2017-01-22 20:33] iamandrewj opened #67 "iPad3,1-iOS 9.3.3 Needed"
Please add this model... All other devs have stopped, and haven't added this one.  It's so slow... thanks I'm counting on you.

[2017-01-22 21:56] aleondopeso opened #68 "iPhone 5,2 iOS 9.3.1"
Can someone add it?

[2017-01-23 12:05] brahimgm opened #69 "iPad 2,4 IOS 9.3.1 (not Supported)"
Hei i got an problem with the ipa. The App says that isn´t supported, but in the description of the Trident says that is supported. My iPad is the iPad2,4 (K93AAP), iOS 9.3.1 (Eagle 13E238).

Thanks a lot 👍

[2017-01-23 20:40] nadeem commented on #68
Plz help when full jailbreak for 32 bit iphone 5 comes???

[2017-01-23 21:01] ganoninc commented on #69
There is no IPA in this repo. You must have Xcode to run this exploit or find someone to compile the latest sources for you into an IPA.

[2017-01-24 21:14] benjamin-42 commented on #67
Sorry there is no plan for this at the moment

[2017-01-24 21:14] #67 closed

[2017-01-24 21:15] benjamin-42 commented on #68
Sorry no specific plan for this at the moment

[2017-01-24 21:15] #68 closed

[2017-01-24 21:16] benjamin-42 commented on #69
As highlighted by @ganoninc there is no IPA distributed here, if you want the latest changes from here, install macOS (in a virtual machine if needed), install Xcode, build and run.

[2017-01-24 21:16] #69 closed

[2017-01-25 21:21] LegitFlames opened #71 "Any chance of adding support for iPhone5,1 iOS 9.3.2?"

[2017-01-26 08:09] benjamin-42 commented on #71
No specific plan/release date for this, sorry

[2017-01-26 08:09] #71 closed

[2017-01-26 08:59] 958ach opened #73 "iPad 2,4 iOS 9.2.1 fails"
iPad 2,4 iOS 9.2.1 xcode 8.2.1
Trident installs on iPad but it stops after pressing YOLO and goes light blue:
payload ptr: 0x9b23b97c
kr: 0x0
Assertion failed: (read_primitive(kernel_base) == 0xfeedface), function exploit, file /Users/administrator/Desktop/Trident-master26.1.17/Trident/exploit.c, line 434.
(lldb)

this is highlighted red:   assert(read_primitive(kernel_base) == 0xfeedface); with t

[2017-01-26 18:35] iTommy258 commented on #62
Tried the last commit. Still panics the shit out of the device...

[2017-01-26 18:51] EGYbkgo9449 commented on #62
Can you show me your kernel panic ???

[2017-01-26 18:53] iTommy258 commented on #62
http://pastebin.com/U9dJQ311

[2017-01-26 18:55] EGYbkgo9449 commented on #62
First of all, it's iPhone 5,2 I've fixed it for 5,3 (still working on 5,2)

Secondly, it'll still panic even after the fix but it won't be the same issue, it's a different issue that I'm still trying to fix

[2017-01-26 18:57] iTommy258 commented on #62
Uh okay. I thought it was fixed all by one :(
Thanks for your reply.

[2017-01-26 18:58] EGYbkgo9449 commented on #62
You're welcome, please DM me on Twitter cuz I wanna test something:

Twitter.com/SpRay_BestTube

[2017-01-26 19:03] SecurePanda commented on #62
I'm also getting kernel panics on 5,1(9.3.3), seems to be the same issue everyone is describing here.

[2017-01-26 19:03] EGYbkgo9449 commented on #62
The failed address is 0x2c ???

[2017-01-27 07:44] buyinginquiries opened #75 "iPad 2 9.1"
Hi, I tried the new offsets with Trident for my iPad 2,1 9.1, and the application just reboots my iPad. I think there might be something wrong with the offsets. Thanks!

[2017-01-27 17:40] sdbaets opened #76 "iPad2,5 P105AP (iPadMini) IOS 9.3.2"
plz add this device also, thanx in advance

iPad2,5 P105AP (iPadMini) IOS 9.3.2

[2017-01-27 20:54] benjamin-42 commented on #62
@iTommy258 can you please test with latest changes made by @EGYbkgo9449?

[2017-01-27 20:55] benjamin-42 commented on #76
No specific plan/date for this, sorry

[2017-01-27 20:55] #76 closed

[2017-01-27 20:56] iTommy258 commented on #62
Of Course. Is it already committed in the normal project?

[2017-01-27 20:57] benjamin-42 commented on #62
I just merged into master a minute ago

[2017-01-27 20:59] iTommy258 commented on #62
I am already on the way to my desk

[2017-01-27 21:06] iTommy258 commented on #62
![bildschirmfoto 2017-01-27 um 22 05 49](https://cloud.githubusercontent.com/assets/18716621/22387633/d387a898-e4dc-11e6-805c-871009b0e125.png)

[2017-01-27 21:07] iTommy258 commented on #62
Device dimmed the screen and stayed on the screen of the app. Crashed after 3 mins. Not sure if i can get a Panic Log

[2017-01-27 21:10] EGYbkgo9449 commented on #62
As I said, the offsets r right and it fixes the panic after getting the payload_ptr,  now it fails because of the patch_task_for_pid() function, jk9357 used another function with the same offsets and it worked without any issues.

[2017-01-27 21:10] iTommy258 commented on #62
2nd try: Device Paniced immediately after pressing the button. Kernel Log is is here: http://pastebin.com/ibxbnNxR

[2017-01-30 17:14] 958ach commented on #73
In offsetfinder.c
changed the following under find_clock_ops:
         case iPad24_iOS921: return 0x2fc3dc;
-- to --
_        case iPad24_iOS921: return 0x3fc3dc;_

trident runs and w00t root is successful - I've also found running this first on iPad 2,3 iOS 9.2.1 then home depot to get success with jailbreak where as running home depot (rev6)on its own it failed

[2017-01-30 17:14] #73 closed

[2017-01-30 18:03] jbmans opened #77 "iPhone 4s ios 9.1"
Hey there,

I was wondering if it would be possible to add support for an iphone 4s on ios 9.1?

Thanks!

Jan

[2017-01-30 22:09] brazier19971 opened #78 "Application restart on iPhone 5,2"
Trident app seems to crash to home screen on iPhone 5,2 on iOS 9.2. Some kernel panics too. Error log: pastebin.com/DQWVuKR9

[2017-01-31 00:49] 1Conan commented on #78
Home Depot != Trident

On the side note, I have posted the correct offsets for homedepot on reddit. Use that. (I have the same iPhone and iOS version and I'm currently enjoying my Jb)

[2017-01-31 07:58] Dixyder opened #79 "iPod touch 5th 9.3.3 ?"
Hello, can the iPod touch 5 on 9.3.3 run the 9.3.2 exploit or not ? Because I have Xcode but I don't want to brick my iPod, so do you think it will works on it ?

[2017-01-31 18:54] brazier19971 commented on #78
Yeah, tried that and working very well now!

[2017-02-01 01:40] ThomasMNeal opened #80 "iPad2,5 offsets?"
Any luck with finding offsets for this device?

[2017-02-01 02:55] mohexyl opened #81 "iphone4,1"

[2017-02-01 02:55] #81 closed

[2017-02-01 02:55] mohexyl opened #82 "iphone4,1 ios9.3beta offsets？"
ios9.3beta

[2017-02-01 09:37] ganoninc commented on #82
I have offsets for the BETA 2 here: https://github.com/ganoninc/trident-kloader-updated/blob/iPhone4S-on-iOS-9.3.3-Beta-2/Trident/offsetfinder.c

[2017-02-01 10:46] ShunKun opened #85 "5C (Global) iPhone5,4 9.2.1 offset?"
Thanks

[2017-02-01 14:32] Experte opened #86 "iPad 3,4 ios 9.3.1 offset ?"
any chance ?

[2017-02-01 16:15] teblok opened #87 "Can you add support for ipad 2,5 ios 9.3.4."
i've had a look around and seen the amount of versions you have for ipad, but no support for mini 1.
ive seen tutorials on youtube on how to add support, but im on a windows machine and cant do that (i dont want do go through the hassle of virtual machines). anyway if you can make this happen, great, but in the meen time im just going to wait.

[2017-02-01 18:57] 808drums opened #88 "iPad 3,1 (A1416) iOS 9.2.1 Support"
Can you add support for the iPad 3,1 iOS 9.2.1?

[2017-02-02 04:09] mohexyl commented on #82
i need 9.3.0beta

[2017-02-02 04:29] mohexyl commented on #82
or how to find offsets！

[2017-02-02 04:29] mohexyl commented on #82
please i need offsets to jailbreak

[2017-02-02 20:42] benjamin-42 commented on #77
Offsets have been added by @1Conan, you can give it a try

[2017-02-02 20:42] #77 closed

[2017-02-02 20:44] benjamin-42 commented on #78
@1Conan so is there an issue with the one in this repository? if yes can you please open a PR for those ones too? Thank you very much

[2017-02-02 20:44] #78 closed

[2017-02-02 20:46] benjamin-42 commented on #79
I don't know if the offsets are the same, you can try, this won't brick your iPod, will just kernel panic in worst case.

[2017-02-02 20:46] #79 closed

[2017-02-02 20:46] benjamin-42 commented on #80
No specific plan/date for this, maybe someone will add them in the future

[2017-02-02 20:46] #80 closed

[2017-02-02 20:46] benjamin-42 commented on #82
No specific plan/date for this, someone may add those offsets in the future

[2017-02-02 20:46] #82 closed

[2017-02-02 20:47] benjamin-42 commented on #85
No specific plan/date for this, someone may add them in the future

[2017-02-02 20:47] #85 closed

[2017-02-02 20:47] benjamin-42 commented on #86
No specific plan/date for this, maybe someone will add those offsets in the future

[2017-02-02 20:47] #86 closed

[2017-02-02 20:48] benjamin-42 commented on #87
No specific plan/date for this, maybe someone will add those offsets in the future

[2017-02-02 20:48] #87 closed

[2017-02-02 20:48] benjamin-42 commented on #88
No specific plan/date for this, maybe someone will add support for this in the future

[2017-02-02 20:48] #88 closed

[2017-02-02 21:23] P0SlX commented on #79
Ok thanks

[2017-02-02 22:34] Chasewhip8 commented on #35
what is the kernel cache key for this version ?

[2017-02-02 23:17] ghost commented on #35
I'm actually not sure...

[2017-02-02 23:18] Chasewhip8 commented on #35
You need the decryption key for the kernel cache to find offsets am I right

[2017-02-03 01:14] Chasewhip8 commented on #35
Did you even decrypt the kernel cache when you tried finding the offsets

[2017-02-03 11:06] ghost commented on #35
Yeah

[2017-02-03 13:23] 1Conan commented on #78
@benjamin-42
The Home Depot app doesn't have the two last offsets that it requires for 9.2.x

This is the reason for the crashes. Offsets I posted for Home depot contains the offsets I submitted here and the two pffsets for 9.2 that Home Depot requires

[2017-02-03 14:15] Chasewhip8 commented on #35
What did you use to decrypt and what was the key

[2017-02-03 17:11] Experte commented on #86
I would love to add them if i had the necessary tools :)

[2017-02-04 22:58] azimys544 opened #91 "iPad3.1 iOS 9.3.3"
I read another closed issue,but...any hope for that one?It's so strange that higher version (9.3.4) supported and lower one not :(
Anyway, best regards and good luck with the project!

[2017-02-05 01:27] wsxarcher commented on #62
[https://github.com/wsxarcher/Trident](https://github.com/wsxarcher/Trident)

I ported the Home Depote (jk9357) method to get the kernel task, you just need to find the [allproc offset](http://wall.supplies/offsets.html) and add your device in the switch case inside `exploit()`.

[2017-02-05 02:14] EGYbkgo9449 commented on #62
@wsxarcher awesome, thx :)

[2017-02-05 11:49] benjamin-42 commented on #91
It isn't strange, the thing is that originally this code was only targeting iOS 9.3.4 for iPad3,1 so there are a lot of hardcoded offsets. There could be less offsets by dumping kernel memory as early as possible and deduce offsets from this dump — I don't think I'll invest time on this.

[2017-02-05 11:49] #91 closed

[2017-02-05 15:53] benjamin-42 commented on #62
Just pushed the commit for patching second level descriptors of MMU (thanks to @wsxarcher for debugging) — @iTommy258 can you try with latest changes please?

[2017-02-05 15:54] benjamin-42 commented on #75
@buyinginquiries can you please try again with latest changes?

[2017-02-06 16:48] wsxarcher opened #93 "Patch for tfp0 break task_for_pid for user processes"
For example, after the exploit you cannot attach the Xcode debugger (lldb) to any process.

This limits the debug capabilities while the device is rooted (reboot to solve).

[2017-02-08 22:29] K0smas opened #94 "iPad3,4 (iPad 4 Wifi) 9.3.3 Offsets--Confirmed Working"
Surprisingly enough, the same offsets for iPhone5,1 9.3.3 actually work with iPad3,4!!!

Offsets:

0x31f13c
0x3219fc
0x1eeac
0xdea48
0x40b428
0xcb7dc
0xdea4a
0xcb508
0x45d978
0x3fe454
0xcb560
0x45f2c8
0xa4

[2017-02-09 10:56] Experte commented on #94
That's Great :)
Hope someone will soon get iPad3,4 (iPad 4 Wifi) 9.3.1 Offsets and other 32 bits iDevices

[2017-02-10 17:15] Meowderp commented on #94
Does this mean that you can use the existing Home Depot jailbreak to jailbreak an iPad 3,4 9.3.3, as these offsets are already in the code?

[2017-02-10 19:56] K0smas commented on #94
Yes! But you would have to manually copy/paste the offsets as home depot will not recognize/find any offsets for ipad3,4 9.3.3—not built into the app yet.

[2017-02-11 00:30] Meowderp commented on #94
How would I do this? :/ Sorry I'm new to this

[2017-02-11 00:57] Meowderp commented on #94
Never mind, sorry. Thanks for the help

[2017-02-11 10:25] Experte commented on #94
Home Depot is now open sourced.

[2017-02-11 15:40] benjamin-42 commented on #62
Closing for now, if the problem is still there please open a new issue

[2017-02-11 15:40] #62 closed

[2017-02-11 15:40] benjamin-42 commented on #75
Closing this one, if you still experience crashes please open a new issue with more information

[2017-02-11 15:40] #75 closed

[2017-02-11 15:41] benjamin-42 commented on #94
@K0smas can you please open a PR with those offsets?

[2017-02-11 15:41] #94 closed

[2017-02-13 01:49] OothecaPickleGNUrmsTUXFSF opened #96 "What would have to been changed in this project to add support for iOS 8.4.1?"
I will comply if told to close this issue, but I'm just wondering if it's possible. Thanks in advance, Zach.

[2017-02-15 19:46] benjamin-42 commented on #96
I don't know to be honest and I won't check, but what you can do is looking for those vulnerabilities in XNU source code, a version close to what was shipped with iOS 8.4.1 (XNU 2784.40.6~18 apparently) and look at Lookout paper (link in README file)

[2017-02-15 19:46] #96 closed

[2017-02-15 20:01] Dixyder opened #99 "Offsets for iPhone5,1 9.1 expect setreuid"
I've found offsets for iPhone5,1 on 9.1 expect streuid, I can't find it so if anyone can find it please comment below I will create a PR.
find_OSSerializer_serialize()
0x31fd1c

find_OSSymbol_getMetaClass()
0x322460

find_calend_gettime()
0x1e76c

find_bufattr_cpx()
0xde9fc

find_clock_ops()
0x40c5a0

find_copyin()
0xcb87c

find_bx_lr()
0xde9fe

find_write_gadget()
0xcb5a8

find_vm_kernel_addrperm

[2017-02-15 20:03] benjamin-42 commented on #99
@Dixyder use "joker -s" to find setreuid http://newosxbook.com/tools/joker.html

[2017-02-15 20:03] #99 closed

[2017-02-15 20:29] P0SlX commented on #99
But I don't have a Mac, can I run this on Linux ?

[2017-02-15 21:20] Tomygames opened #100 "iPad 2,5 ?"
Would love support for iPad mini (2,5) :,(

[2017-02-15 22:02] benjamin-42 commented on #99
There is a 64-bit version for Linux, please look at the link

[2017-02-15 22:03] benjamin-42 commented on #100
No specific plan/date for this, maybe someone will add support for it later

[2017-02-15 22:03] #100 closed

[2017-02-16 05:55] OothecaPickle commented on #100
I'm in the process of doing this right now; I'll submit a a pull request soon.

[2017-02-16 05:57] OothecaPickle commented on #94
These are missing multiple offsets, including:
find_flush_dcache()
find_task_for_pid()
find_setreuid()
The offsets you posted are for the Home Depot jailbreak, which utilizes the Trident exploit chain, but does not require the missing offsets above.

[2017-02-18 17:53] mark8598 opened #103 "iPhone 5,2 9.3.1 offsets? cant seem to find only those here..."
Is it even possible to jailbreak iPhone 5,2 on 9.3.1 so it isnt included anywhere or?

[2017-02-18 18:01] P0SlX commented on #103
Soon I will create a PR for all iPhone5,2 offsets, with trident, you can only have root access but with Home depot you can jb

[2017-02-18 21:27] P0SlX commented on #103
Hey, try this offsets on jk9357's jb IPA:

0x31EF50
0x321810
0x1EE6C
0xDEA48
0x40B428
0xCB7DC
0xDEA4A
0xCB508
0x45D978
0x3FE454
0xCB560
0x45F2C8
0xA4

Comment if it works please :)

[2017-02-24 04:50] ShawnChen1996 opened #105 "can you add support to iphone 5,4 9.3.1"

[2017-02-24 05:48] OothecaPickleGNUrmsTUXFSF opened #106 "Offset Help"
How do I find these:
find_setreuid_cred_update()
find_pid_check()
find_posix_check()
find_mac_proc_check()

[2017-02-24 09:11] Dixyder commented on #105
You can found offsets of it on this: https://www.reddit.com/r/jailbreak/comments/5vpuyf/discussion_list_of_all_iphone_all_ipad_will_be/?st=1Z141Z3&sh=66a774de
Use Home Depot and enter you offsets for you device and version

[2017-02-24 09:13] P0SlX commented on #105
You can find your offsets on this link https://www.reddit.com/r/jailbreak/comments/5vpuyf/discussion_list_of_all_iphone_all_ipad_will_be/?st=1Z141Z3&sh=66a774de
Just search for your device and your version tell me if it works

[2017-02-24 15:01] aleondopeso commented on #103
Those offsets works on iOS 9.3.1 iPhone 5,2

[2017-02-24 17:43] mark8598 commented on #103
Ty so much! It works, some tweaks arent supported but oh well there are always replacements :))

[2017-02-24 17:51] P0SlX commented on #103
Glad that helped you :)

[2017-02-24 20:55] #103 closed

[2017-02-26 09:55] benjamin-42 commented on #105
Will close for now, note that there is no specific plan on this, but @Dixyder is pushing it :)

[2017-02-26 09:55] #105 closed

[2017-02-26 10:03] benjamin-42 commented on #106
For the first one, first find setreuid syscall (with joker tool for example), at the beginning of the function there are some checks, the idea is to jump after those checks.
The last 3 are related to task_for_pid, I'd recommend to look at its source code, you will find a way to find it in iOS firmware (it checks for pid == 0 and call proc_find at the beginning of the function).
Also take a look at

[2017-02-26 10:03] #106 closed

[2017-03-17 10:29] xbliss opened #111 "App Message: Offsets not found for iPhone 5,1 - iOS 9.3.3"
I just got a message today from the App: Offsets not found for iPhone 5,1 - iOS 9.3.3
Anyone / any thoughts?

How can I go about finding the offsets - Karen's How To is not clear enough.

I've done programming/ development in my younger life and used HexTools in college so I am wondering how to proceed?

[2017-03-18 16:39] hacks4live opened #112 "add support for 9.3.5 please"
please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please please p

[2017-03-18 16:57] Dixyder commented on #112
Can you read the Readme.md file ? # **"iOS 9.3.5 is not supported as vulnerabilities have been patched in that version."** Do you understand English ???

[2017-03-19 14:12] benjamin-42 commented on #111
It seems that you don't have the latest version of the project, I can see iPhone51_iOS933 in offsetfinder. Anyway, offsets are referencing some code, function or data structure, for some of them you can find information. For others you can still compare with offsets of a known firmware to help you.

[2017-03-19 14:12] #111 closed

[2017-03-19 14:12] #112 closed

[2017-03-25 10:13] Experte opened #114 "iPad3,4 (iPad 4 Wifi) 9.3.1 - Jailbreak lost after every reboot"
I ve jailbroken an iPad3,4 (iPad 4 Wifi) 9.3.1 using "Home depot" with custom offsets. every thing went well. but after every reboot the jailbreak is lost and have to rejailbreak everytime.

[2017-03-25 11:17] kevyboy201222 commented on #114
its semi tethered no untethered

On 2017-03-25, at 6:13 AM, "Experte" <notifications@github.com<mailto:notifications@github.com>> wrote:

I ve jailbroken an iPad3,4 (iPad 4 Wifi) 9.3.1 using "Home depot" with custom offsets. every thing went well. but after every reboot the jailbreak is lost and have to rejailbreak everytime.

—
You are receiving this because you are subscribed to this thread.
Rep

[2017-03-25 17:07] DylbinHax opened #115 "I need offsets for iPhone 4,1 iOS 9.3.4"
Hello I need the offsets for iPhone 4,1 iOS 9.3.4 I changed my system version while jailbroken and now I can't re-enable my jailbreak so I need custom offsets so please post the offsets. I don't have the skill to find them myself so please post them someone. (iPhone 4S iOS 9.3.4 Trident Offsets)

[2017-03-25 21:24] P0SlX commented on #115
I've created a month ago a thread on reddit for custom offsets use in Home Depot and all devices in all iOS version is listed bellow: https://redd.it/5vpuyf if you want to check this out

[2017-03-26 09:25] #114 closed

[2017-03-26 09:25] #115 closed

[2017-03-29 08:27] xbliss commented on #111
I got the offset but I am facing a new issue now.

I am unable to re-enable the Jailbreak after the installation of iCleaner Pro.  Also, unable to start the phone in Safe/ Substrate mode where the JB phone starts without other "daemons" in/ installed via Cydia.

[2017-05-22 01:50] tolikes commented on #93
for ios 8.4.1

[2017-06-21 06:41] Ama4Q opened #117 "iPhone 5,2 9.3.1 crash"
run a moment on iPhone5,2 9.3.1，the APP has been crash.

[2018-07-24 07:59] ThuongKa opened #118 "Undefined symbols for architecture arm64:"
Undefined symbols for architecture arm64:

  "_io_service_get_matching_services_bin", referenced from:
      _exploit in exploit.o
  "_io_service_open_extended", referenced from:
      _leak_kernel_base in exploit.o
      _insert_payload in exploit.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

Could somebody help t

[2018-07-27 18:37] benjamin-42 commented on #118
This project only targets 32-bit devices. However for arm64 you can take a look at the [cl0ver](https://github.com/Siguza/cl0ver) project created by @Siguza.

[2018-07-27 18:37] #118 closed

[2019-01-16 09:40] Jasemalsadi opened #120 "Including sys libs"
Hi ,
I wonder how you add the imports like :
#include <sys/syscall.h>
 #include <sys/kauth.h>
 #include <sys/stat.h>

In the Xcode project, because I tried with swift project, but always give me error of not found library e.g. :
'sys/proc_info.h' file not found